/*****   VARIABLES   *****/
:root {
  /* COLORS */
  --header-bcg: #3148AD;
  --btn-bcg: #9B68E4;
  --main-bcg: #695ACE;
  --default-bcg-pixel: #D2DAE2;
  --default-border-pixel: #808E9B;
  --bcg-pixel-one: #485460;
  --border-pixel-one: #29333B;
  --bcg-pixel-two: #79EA83;
  --border-pixel-two: #6ACF73;
  --bcg-pixel-three: #FBC048;
  --border-pixel-three: #F7A835;
  --text-color-input: #29333B;
  --text-btn: #fff;

  /* DIMENSIONS */
  --height-input-btn: 45px;
  --border-radius-input-btn: 10px;
}


*, *::after,  *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: 100vh;
}

header {
  height: 20vh;
  width: 100vw;
  background-color: var(--header-bcg);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

form {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

input {
  margin-right: 2px;
  max-width: 175px;
  height: var(--height-input-btn);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 0.8rem;
  color: var(--text-color-input);
}
input:nth-child(1) {
  border-radius: var(--border-radius-input-btn) 0 0 var(--border-radius-input-btn);
}

button {
  height: var(--height-input-btn);
  width: 90px;
  border-radius: 0 var(--border-radius-input-btn) var(--border-radius-input-btn) 0;
  outline: none;
  border: none;
  background-color: var(--btn-bcg);
  color: var(--text-btn);
  cursor: pointer;
}

.container {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bcg)
}

#invader{
  width: 120px;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
}





/*** CLASS */
.defaultPixel{
    background-color: var(--default-bcg-pixel);
    border: solid 1px var(--default-border-pixel);
}

.blackPixel{
    background-color: var(--bcg-pixel-one);
    border: solid 1px var(--border-pixel-one);
}


/** CSS color picker */
.colorPickerContainer{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  display:flex;
  flex-direction:row;
  background-color: rgb(29, 29, 29,0.4) ;
  border-radius: 10px 0 0 0;

}
.colorPickerContainer li {
  list-style: none;
  width: 30px;
  height: 30px;
  border-radius : 50%;
  border : solid 3px black;
  margin: 10px;
  transition: transform 500ms; 
}

.colorPickerContainer li:hover {
  transform: scale(1.5);
  cursor: pointer;
}

/**colorPicket Items class*/

.color0{
  background-color:#d1dae2;
}
.color1{
  background-color: #485460;
}
.color2{
  background-color: #fbc049;
}
.color3{
  background-color: #7AEA83;
}

